<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
	
<head>
	<title>Novo Produto</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<section class="content-header">
			<h1>Produto</h1>
		</section>
		
		<section class="content">
			<div class="card">
				<div class="box">
					
					<div class="box-body">
						<form th:action="@{/produto/novo}" method="post" th:object="${produto}">
							<input hidden="hidden" type="number" th:field="*{id}"/>
							<div class="form-group col-md-2">
								<label for="codigo" class="control-label">Código:</label>
								<input id="codigo" type="number" class="form-control" th:field="*{codigo}" required="required"/>
							</div>
							<div class="form-group col-md-8">
								<label for="nome" class="control-label">Nome:</label>
								<input id="nome" type="text" class="form-control" th:field="*{nome}" required="required"/>
							</div>
							<div class="form-group col-md-2">
								<label for="valor" class="control-label">Preço:</label>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-dollar"></i>
									</span>
									<input id="valor" type="number" step="any" min="0" class="form-control" th:field="*{valor}" required="required"/>
								</div>
							</div>
							<div class="form-group text-right">
								<button class="btn  btn-primary	" type="submit">Salvar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</section>
</body>
</html>