<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
	
<head>
	<title>Nova Venda</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<section class="content-header">
			<h1>Vendas</h1>
		</section>
		
		<section class="content">
			<div class="card">
				<div class="box">
					<div class="box-header">
						<h1 class="text-center">Açai com Chocolate</h1>
					</div>
					
					<input id="id-venda" type="number" hidden="hidden" th:value="${venda.id}"/>
					<input id="valor-venda" type="number" hidden="hidden" th:value="${venda.total}"/>
					
					<div class="box-body">
						<form  id="form-item-venda" class="col-md-6" method="post">
							<div class="form-group col-md-12">
								<label for="produto" class="control-label">Produto:</label>
								<input id="produto" class="form-control" type="text" disabled="disabled"/>
							</div>
							<div class="form-group col-md-4">
								<label for="codigo" class="control-label">Código:</label>
								<input id="codigo" class="form-control" type="number"/>
							</div>
							<div class="form-group col-md-4">
								<label for="quantidade" class="control-label">Quantidade:</label>
								<input id="quantidade" value="1" min="0.001" step="0.001" class="form-control" type="number"/>
							</div>
							<div class="form-group col-md-4">
								<label for="valor-produto" class="control-label">Valor Unit.:</label>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-dollar"></i>
									</span>
									<input id="valor-produto" class="form-control" type="text" disabled="disabled"/>
								</div>
							</div>
							<div class="form-group text-right">
								<button id="btn-adicionar" class="btn  btn-primary" disabled="disabled" type="button">adicionar</button>
							</div>
						</form>
						
						<div id="div-table-itens"></div>
					</div>
					
					<div class="box-footer">
							<div class="form-group col-md-1">
								<label for="comanda" class="control-label">Comanda:</label>
								<input id="comanda" th:value="${venda.comanda}"  class="form-control" type="number"/>
							</div>
						<div class="form-group text-center">
							<a id="btn-cancelar" class="btn btn-default" data-toggle="modal" data-target="#modal-cancelar">Cancelar</a>
							<button id="btn-concluir" class="btn btn-success">Criar Comanda</button>
							<button id="btn-finalizar" data-toggle="modal" data-target="#modal-finalizar"
								class="btn  btn-primary">Finalizar compra</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<div id="modal-finalizar" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-sm" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Pagamento</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="form-group">
		      		<label for="total-modal" class="control-label">Total:</label>
		      		<input id="total-modal" class="form-control" type="text" disabled="disabled" />
		      	</div>
		      	<div class="form-group">
		      		<label for="desconto-modal" class="control-label">Desconto:</label>
		      		<input id="desconto-modal" class="form-control" type="number" />
		      	</div>
		      	<div class="form-group">
		      		<label for="total-pagar-modal" class="control-label">Total a Pagar:</label>
		      		<input id="total-pagar-modal" class="form-control" type="text" disabled="disabled" />
		      	</div>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        <button id="btn-confirm-modal" type="button" class="btn btn-primary">Finalizar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div id="modal-deletar-item" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-sm" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Deletar Item</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="form-group">
		      		<label for="numero-item" class="control-label">Item Nº:</label>
		      		<input id="numero-item" class="form-control" type="number" />
		      	</div>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        <button id="btn-delete-item" type="button" class="btn btn-warning">Deletar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div id="modal-cancelar" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-sm" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Deseja realmente cancelar essa venda?</h4>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        <button id="btn-confirmar-cancelar" type="button" class="btn btn-warning">Confirmar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
        <div id="modal-erro-produto" class="modal fade bs-example-modal-sm">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Código não cadastrado</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/vendas.js}"></script>
	</th:block>
</body>
</html>